rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow anyone to read testimonials
    match /testimonials/{testimonialId} {
      allow read, create: if true;
    }

    // Allow anyone to create a booking
    match /bookings/{bookingId} {
        allow create: if true;
    }
  }
}
